nav.nav-main h3 {
  // transform: translateY(0.3rem);
}

.test {
}

$videoHeight: calc(80vh - 105px);

.hero-video {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $videoHeight;
    background: rgba(0, 0, 0, 0.15);
    z-index: 0;
  }

  h1 {
    color: #ffd518;
  }

  &__text-wrapper {
    height: $videoHeight;

    h1 {
      z-index: 1;
    }

    &__inner {
      height: 100%;

      /* global 92%+ browsers support */
      background: radial-gradient(
        circle at 50% 50%,
        rgba(228, 228, 228, 0.35) 20%,
        rgba(255, 255, 255, 0) 80%
      );
    }
  }

  &__video {
    video,
    iframe {
      position: absolute;
      width: 100%;
      min-width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
      z-index: -1;
    }
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  // font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.content {
  position: relative;
}

$waveTextol: #03a9f4;
$waveTextol: rgb(0, 238, 255);
$waveTextol: white;

.content h2 {
  color: #fff;
  font-size: 2.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  padding-inline: 10px;

  @media only screen and (min-width: 768px) {
    font-size: 6rem;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 6rem;
  }

  @media only screen and (min-width: 1600px) {
    font-size: 12rem;
  }

  @media only screen and (min-width: 2000px) {
    font-size: 16rem;
  }
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px $waveTextol;
}

.content h2:nth-child(2) {
  color: $waveTextol;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
